@font-face {
    font-family: "CeraPro";
    font-weight: 400;
    src: local("CeraPro-Regular"),
        url("../fonts/CeraPro-Regular.woff2") format("woff2"),
        url("../fonts/CeraPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "CeraPro";
    font-weight: 500;
    src: local("CeraPro-Medium"),
        url("../fonts/CeraPro-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "CeraPro";
    font-weight: 700;
    src: local("CeraPro-Bold"),
        url("../fonts/CeraPro-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "CeraPro";
    font-weight: 900;
    src: local("CeraPro-Black"),
        url("../fonts/CeraPro-Black.woff2") format("woff2");
}