* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: inherit;
}

body {
    font-family: 'Cera Pro', Arial, sans-serif;
    background: #FFFFFF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    padding: 25px 0;
    background: white;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.2);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: #3D3D3D;
    transition: color 0.3s ease;
}

nav li {
    position: relative;
    padding: 0 35px;
}

nav li a {
    font-weight: 400;
    font-size: 16px;
}

nav li a:hover {
    color: #46A358;
}

nav li:first-child a {
    color: #46A358;
    font-weight: 700;
}

nav li:first-child::after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 3px;
    background-color: #46A358;
}

.login-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #46A358;
    border-radius: 6px;
    padding: 8px 17px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.login-btn:hover {
    background: #387c45;
}

.login-btn svg {
    width: 20px;
    height: 20px;
}

.hero {
    background: #FFFFFF;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 68px 0;
}

.left-side {
    max-width: 630px;
}

.left-side p:first-child {
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 7px;
    letter-spacing: 0.1em;
}

.left-side h2 {
    font-family: 'Cera Pro', Arial, sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-align: left;
    color: #3D3D3D;
    margin-bottom: 45px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    position: relative;
}

.left-side h2::before {
    content: "";
    display: block;
}

.left-side h2::after {
    content: " PLANET";
    color: #46A358;
    white-space: pre;
}

.left-side p:last-of-type {
    color: #727272;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 45px;
    max-width: 557px;
}

.shop-now {
    background: #46A358;
    border-radius: 6px;
    padding: 12px 35px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.shop-now:hover {
    background: #387c45;
}

.right-side {
    flex-shrink: 0;
    margin-left: 40px;
    display: flex;
    align-items: flex-end;
}

.right-side img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
