* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: inherit;
}

body {
    font-family: 'Work Sans',  'Cera Pro', Arial, sans-serif;
    background: #FFFFFF;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    padding: 25px 0;
    background: white;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.2);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: #3D3D3D;
    transition: color 0.3s ease;
}

nav li {
    position: relative;
    padding: 0 35px;
}

nav li a {
    font-weight: 400;
    font-size: 16px;
}

nav li a:hover {
    color: #46A358;
}

nav li:first-child a {
    color: #46A358;
    font-weight: 700;
}

nav li:first-child::after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 3px;
    background-color: #46A358;
}

.login-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #46A358;
    border-radius: 6px;
    padding: 8px 17px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.login-btn:hover {
    background: #387c45;
}

.login-btn svg {
    width: 20px;
    height: 20px;
}

.hero {
    background: #FFFFFF;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 68px 0;
}

.left-side {
    max-width: 630px;
}

.left-side p:first-child {
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 7px;
    letter-spacing: 0.1em;
}

.left-side h2 {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-align: left;
    color: #3D3D3D;
    margin-bottom: 45px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    position: relative;
}

.left-side h2::before {
    content: "";
    display: block;
}

.left-side h2::after {
    content: " PLANET";
    color: #46A358;
    white-space: pre;
}

.left-side p:last-of-type {
    color: #727272;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 45px;
    max-width: 557px;
}

.shop-now {
    background: #46A358;
    border-radius: 6px;
    padding: 12px 35px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.shop-now:hover {
    background: #387c45;
}

.right-side {
    flex-shrink: 0;
    margin-left: 40px;
    display: flex;
    align-items: flex-end;
}

.right-side img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}



.content {
    padding: 50px 0;
    background: #FFFFFF;
}

.shop-container {
    display: flex;
    gap: 50px;
}



.categories {
    width: 310px;
    flex-shrink: 0;
}

.categories h3 {
    font-size: 18px;
    font-weight: 700;
    color: #3D3D3D;
    margin-bottom: 20px;
}

.categories ul {
    list-style: none;
}

.categories ul li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    color: #3D3D3D;
    cursor: pointer;
    transition: color 0.3s ease;
}

.categories ul li span {
    color: #727272;
}

.categories ul li.active,
.categories ul li:hover {
    color: #46A358;
}

.price-range {
    margin: 30px 0;
    padding: 20px 0;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

.range-slider {
    margin: 20px 0;
}

.slider {
    width: 100%;
    height: 2px;
    background: #46A358;
    -webkit-appearance: none;
    appearance: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #46A358;
    border-radius: 50%;
    cursor: pointer;
}

.filter-btn {
    background: #46A358;
    color: white;
    padding: 8px 26px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 700;
}

.filter-btn:hover {
    background: #387c45;
}


.products-section {
    flex-grow: 1;
}

.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    gap: 20px;
}

.tab {
    padding: 8px 16px;
    cursor: pointer;
    color: #3D3D3D;
    background: none;
    transition: all 0.3s ease;
    font-weight: 400;
}

.tab.active {
    background: #46A358;
    color: white;
    border-radius: 6px;
    font-weight: 500;
}

.sorting {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sorting select {
    padding: 8px 16px;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    color: #3D3D3D;
    cursor: pointer;
    font-weight: 400;
}

.products-list {
    font-size: 0;
    margin: -15px;
}

.product-card {
    display: inline-block;
    vertical-align: top;
    width: calc(33.33% - 30px);
    margin: 15px;
    position: relative;
    padding: 20px;
    background: #FBFBFB;
    border-radius: 6px;
    font-size: 16px;
}

.product-card:hover {
    box-shadow: 0px 8px 16px rgba(70, 163, 88, 0.1);
}

.discount-tag {
    position: absolute;
    top: 14px;
    right: 14px;
    background: #46A358;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 15px;
}

.product-card h3 {
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.product-card .price {
    color: #46A358;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.old-price {
    color: #A5A5A5;
    text-decoration: line-through;
    font-weight: 400;
    font-size: 16px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.pagination button {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    background: none;
    color: #3D3D3D;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
}

.pagination button.active,
.pagination button:hover {
    background: #46A358;
    color: white;
    border-color: #46A358;
}

